<h3><%= @character.title %></h3>

<ul>
  <li>Network: <%= @character.network %></li>
  <li>Years: <%= @character.years %></li>
</ul>

<div>
  <%= @character.synopsis %>
</div>

<%= link_to 'Delete', character_path(@character.id),
    method: :delete, data: { confirm: 'Are you sure?' } %>
